<div class="col s10 offset-s1">
    <div class="card blue-grey lighten-2">
        <div class="card-content white-text"><span class="card-title">{{title}}</span>
            <p>{{body}}</p>
            <a href="{{url}}"></a>
        </div>
        <div class="card-action"><a href="#">Save</a></div>
    </div>
</div>